body{
    display: contents;
}
.navbar{
    float: right;
    margin: 20px
}

.nav_item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.nav_item:hover{
    text-decoration: underline;
}

.content{
    margin-top: 300px;
    text-align: center;
}

.input_area{
    margin-top: 20px;
}

.input_box{
    width:300px;
    height: 40px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.search_icon{
    position: relative;
    left: 40px;
    color:#9aa0a6;
}
.mic_icon{
    position:relative;
    right:40px;
    color:#9aa0a6;
}

.button_area{
    margin-top: 20px;
}

.button_style{
    text-decoration: ;
    height: 30px;
    padding: 0 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
}

.button_style:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area {
    margin-top: 18px;
}

.language {
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
}
.language:hover {
    text-decoration: underline;
}


.footer{
    position:absolute;
    bottom: 0px;
    width:100%;
    background-color: #f2f2f2;
}

.first_line{
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid#dadce0;
    color:rgba(0,0,0,54);
}

.second-line-left{
    float: left;
    padding: 15px 30px;
    font-size: 15px;
    color:rgba(0,0,0,54);
}

.second-line-right{
    float: right;
    padding: 15px 30px;
    font-size: 15px;
    color:rgba(0,0,0,54);
}


.second-line a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    padding-right: 15px;
}

.second-line a:hover {
    text-decoration: underline;
}